<main>
  <% if user_signed_in? %>
    <h2>Books</h2>
    <div class="box">
      <table class="table-box">
        <tr class="title-box">
          <th></th>
          <th>Title</th>
          <th>Opinion</th>
        </tr>
        <% @books.each do |book| %>
          <tr class="contents">
            <td>
              <%= link_to user_path(book) do %>
                <%= attachment_image_tag @user, :profile_image, :fill, 50, 50, format: 'jpeg'  %>
              <% end %>
            </td>
            <td class="link">
              <%= link_to book_path(book) do %>
                <i class="bt"></i><%= book.title %>
              <% end %>
            </td>
            <td>
              <%= book.body %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
    <%= render 'books/list', book: @book, user: @user %>

  <% else %>
    <h1>Welcome to <span class=''></span><strong>Bookers</strong>!</h1>
    <p>In Bookers,</p>
    <p>you can share and exchange your opinions , inpressions , and emotions<br>about various books!</p>
    <div class="">
      <div class="">
        <%= link_to "login", new_user_session_path %>
      </div>
      <div class="">
        <%= link_to "sign up", new_user_registration_path %>
      </div>
    </div>
  <% end %>
</main>