
<main>
<!--サイドバー-->
      <div class="sidebar">
        <section class="popular">
          <h2 class="sidebar-heading common-heading">Popular</h2>
          <div class="sidebar-contents">
            <p class="popular-text">
              To solve old problems,<br />study new species
            </p>
            <p class="popular-text">
              Why Earth may someday<br />look like Mars
            </p>
            <p class="popular-text">
              What will humans look<br />like in 100 years?
            </p>
            <p class="popular-text">
              How to grow a forest<br />in your backyard
            </p>
            <p class="popular-text">
              How humans could evolve<br />to survive in space
            </p>
          </div>
        </section>

        <section class="newbook">
          <h2 class="newbook-heading">New book</h2>
          <div class="sidebar-contents">
          <%= form_with model:@book, local:true do |f| %>
            <% if @book.errors.any? %>
              <%= @book.errors.count %>errors prohibited this obj from being saved:
              <% @book.errors.full_messages.each do |message| %>
                <%= message %>
              <% end %>
            <% end %>

            <h4>Title</h4>
            <%= f.text_field :title %>
            <h4>Opinion</h4>
            <%= f.text_area :body %>
            <div class="submit-button">
            <%= f.submit "Create Book" %>
            </div>
          <% end %>
          </div>
        </section>

      </div>
  </main>