<main>
  <h2>Book detail</h2>
  <div class="box">
    <table class="table-box">
      <tr class="title-box">
        <th></th>
        <th>Title</th>
        <th>Opinion</th>
      </tr>
      <tr class="contents">
        <td>
          <%= link_to user_path do %>
            <%= attachment_image_tag @user, :profile_image, :fill, 50, 50, format: 'jpeg' %><br>
            <%= @user.name %>
          <% end %>
        </td>
        <td class="link">
          <%= link_to "#{@book.title}", book_path(@book.id) %>
        <td>
          <%= @book.body %>
        </td>
        <% if @book.user == current_user %>
          <td>
            <%= link_to "Edit", edit_book_path(@book), method: :get %>
          </td>
          <td>
            <%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "本当に削除しますか？" %>
          </td>
        <% end %>
      </tr>
    </table>
  </div>
  <%= render 'books/list', book: @book %>
</main>